<div class="contenedor1 row container-fluid">
    <div class="text">

        <h1>Has los pedidos que deseas</h1>
        <p style="font-weight: lighter;    ">Pidelow tiene una gran cantidad de empresas afiliadas, para pormocionar y comprar sus productos y nuestros repartidores se encargan de el envio.</p>
        <div>
            <h3 style="margin-bottom: 0;">+1K</h3>
            <p style="font-weight: 100; ">Empresas afiliadas</p>
        </div>

    </div>

    <img src="../../../../assets/Cliente-landing/image 18.png" alt="" class="img1 image">


    <button class="botonesNaranja" style="max-width: fit-content; height: fit-content;">Empezar</button>

</div>

<div class="contenedor2 row container-fluid">

    <img src="../../../../assets/Cliente-landing/image 19.png" alt="" class="img2 image">

    <div class="text">

        <h1>Quieres ser uno de nuestros motoristas?</h1>
        <p style="font-weight: lighter;    ">Los motoristas se encargan de relaizar la recoleccion del pedido en la empresa y su repectiva entrega en la ubicacion del cliente.</p>
        <div class="motoristasbtn">
            <button class="botonesNaranja" style="padding-top: 2.5%;padding-bottom: 2.5%;padding-left: 15%;padding-right: 15%;">Motoristas
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="flecha svg-inline--fa fa-arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"></path></svg>

                    </button>
        </div>
    </div>
</div>

<div class="contenedor3" style="text-align: center;">
  <button  mat-raised-button  class="login-btn" [routerLink]="['/auth/login']">Iniciar Sesión</button>
    <h1>Como funciona</h1>
    <h4 style="font-weight: lighter; margin-bottom: 4rem;">Pidelow funciona asi:</h4>

    <div class="row">
        <div class="col-xl-3 col-md-3 col-sm-12 " style="padding-right: 15px;padding-left: 15px;padding-top: 15px;padding-bottom: 15px;">
            <div class="card cardLand" style="width: 100%;height: 100%;">
                <img src="../../../../assets/Cliente-landing/note 1.png" class="imgCard" alt="...">
                <div class="card-body">

                    <p class="card-text">Lista los productos, para la orden siedo de una sola empresas </p>
                    <button class="botonesNaranja">Realiza una orden</button>
                </div>

            </div>
        </div>

        <div class="col-xl-3 col-md-3 col-sm-12 " style="padding-right: 15px;padding-left: 15px;padding-top: 15px;padding-bottom: 15px;">
            <div class="card cardLand" style="width: 100%;height: 100%">
                <img src="../../../../assets/Cliente-landing/credit-card 1.png" class="imgCard" alt="...">
                <div class="card-body">

                    <p class="card-text">Lista los productos, para la orden siedo de una sola empresas </p>
                    <button class="botonesNaranja">Realiza el pago</button>
                </div>

            </div>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-12 " style="padding-right: 15px;padding-left: 15px;padding-top: 15px;padding-bottom: 15px;">
            <div class="card cardLand" style="width: 100%;height: 100%;">
                <img src="../../../../assets/Cliente-landing/location 1.png" class="imgCard" alt="...">
                <div class="card-body">

                    <p class="card-text">Lista los productos, para la orden siedo de una sola empresas </p>
                    <button class="botonesNaranja">Ubicacion de entrega</button>
                </div>

            </div>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-12 " style="padding-right: 15px;padding-left: 15px;padding-top: 15px;padding-bottom: 15px;">
            <div class="card cardLand" style="width: 100%;height: 100%">
                <img src="../../../../assets/Cliente-landing/delivered 1.png" class="imgCard" alt="...">
                <div class="card-body">

                    <p class="card-text">Lista los productos, para la orden siedo de una sola empresas </p>
                    <button class="botonesNaranja">Espera la entrega</button>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="contenedor4 row container-fluid">

    <img src="../../../../assets/Cliente-landing/Group 19.png" alt="" class="img2 image" style="padding-right: 8em;">

    <div class="text" style="margin-top: auto;margin-bottom: auto;">

        <h1>Estamos mas cerca de ti</h1>
        <h4 style="font-weight:100;    ">Descarga nuestra aplicacion móvil para que este mas cerca de ti..</h4>
        <h5 style="margin-top: 50%;">Descarga pidelow app:</h5>
        <div class="row">
            <img class="col-6" src="../../../../assets/Cliente-landing/appstore.png" alt="">

            <img class="col-6" src="../../../../assets/Cliente-landing/Google Play Badge.png" alt="">

        </div>

    </div>
</div>
