
    <nav class=" navbar-expand-lg navbar-light bg-light shadow-sm navbar" style="background-color: white;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
      <img src="../../../../assets/Cliente-landing/logo2.png" class="img-logo" alt="" style="height: 50px;">

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin-left: auto;font-size: larger" >
              <li class="nav-item" routerLinkActive = "active">
                  <a class="nav-link"   [routerLink] = "['/']">Inicio </a>
              </li>
              <li class="nav-item" routerLinkActive = "active">
                  <a class="nav-link"   [routerLink] = "['/contact']">Contacto </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link">Sobre nosotros</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link">Historia</a>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Más</a>
                  <div class="dropdown-menu " style="border: none;" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Ir motorista</a>
                    <a class="dropdown-item" href="#">Ir administrador</a>
                  </div>
              </li>
          </ul>
            <button  mat-raised-button  class="login-btn" [routerLink]="['auth/login']">Iniciar Sesión</button>

              <button class=" my-2 my-sm-0 btnregister" mat-raised-button [routerLink]="['auth/register']">Registrate</button>

      </div>
  </nav>
