<div id="imgCards">
    <img src="../../../../assets/img/tarjetas.png" alt="" id="tarjetas">

    <h2 id="miscards">Mis tarjetas</h2>

    <div id="cards">
        <div class="cardItem">
            <div>
                <img src="../../../../assets/img/Credit-card.png" alt="" class="imgImage">
            </div>
            <div class="texts">
                <div class="textCard">
                    216568899xxx
                </div>
                <div class="textCard" id="name">Bessy D. Zavala</div>
            </div>
            <div>
                <button class="btnEliminar">Eliminar</button>
            </div>
        </div>
    </div>

    <button class="add">Agregar Tarjeta</button>
</div>