<div class="container" style="height: 80vh;">
    <h2>Ingresa tu dirección</h2>
    <div class="divDirection">
        <select name="" class="option">
        <option value="">Departamento</option>
        <option value="">La Paz</option>
    </select>
        <select name="" class="option">
        <option value="">Ciudad</option>
        <option value="">La Paz</option>
    </select>
    </div>
    <div style="text-align: center;">
        <img src="../../../../assets/1366_2000.png" alt="" id="map">
    </div>

    <button style="" class="btnContinue">Continuar</button>

</div>