<div class="container animate__animated  animate__fadeIn">
  <div class="row">
    <div class="col-12">
      <p class="title-page">Selecciona tu ubicacion</p>
    </div>
    <div class="col-12 mt-3 container-info">
      <div class="container-selected">
        <mat-form-field class="selected-basic" appearance="fill">
          <mat-label>Departamento</mat-label>
          <mat-select  name="food">
            <mat-option [value]="1">La Paz</mat-option>
            <mat-option [value]="1">Francisco Morazan</mat-option>
            <mat-option [value]="1">Cortes</mat-option>
            <mat-option [value]="1">La Ceiba</mat-option>
            <mat-option [value]="1">Colon</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="container-selected mt-5">
        <mat-form-field class="selected-basic" appearance="fill">
          <mat-label>Municipio</mat-label>
          <mat-select  name="food">
            <mat-option [value]="1">La Paz</mat-option>
            <mat-option [value]="1">Marcala</mat-option>
            <mat-option [value]="1">Ajuterique</mat-option>
            <mat-option [value]="1">Cane</mat-option>
            <mat-option [value]="1">La Paz</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="container-map" id="mapa"></div>
      <div class="container-btn mt-5">
        <button class="btn-s my-2 my-sm-0 btn-basic" mat-raised-button   [routerLink]="['../categorie']">Continuar</button>
      </div>
    </div>
  </div>
</div>
