.contcate {
    display: flex;
    justify-content: space-around;
}

.container2 {
    display: flex;
}

.imageCat {
    width: 125px;
}

.form-check {
    text-align: start!important;
    padding-left: 80px!important;
}

#details {
    width: 20%;
    text-align: center;
}

.categoria {
    padding: 30px;
}

.search {
    display: flex;
    justify-content: center;
}

.search input {
    padding: 5px;
    border-radius: 15px;
    margin-right: 41px;
    width: 52%;
}

.card-body {
    padding-left: 0!important;
}

.imgCat {
    padding-right: 10px;
    margin-top: auto;
    height: 128px;
    border-radius: 2rem;
    margin-bottom: auto;
}

.card {
    width: auto;
}

.cards {
    display: flex;
}

.arrow {
    cursor: pointer;
}

.cat {
    padding: 6px;
    border-radius: 0.4rem;
    cursor: pointer;
}

.cat:hover {
    background-color: rgb(247, 245, 245);
}

#iconMap {
    margin-right: 16px;
    margin-top: auto;
    margin-bottom: auto;
}

.filterdiv {
    background-color: #80808054;
    border-radius: 5px;
    margin-top: 5px;
}

.divEnvio {
    padding-top: 4px;
}

.active {
    /* background-color: rgb(247, 245, 245); */
    border: 1px solid orange;
}

.card {
    display: flex;
    justify-content: space-around;
    background-color: #F8F8F8;
    box-shadow: -2px 2px 3px -1px;
    border-radius: 11px;
    margin: 15px!important;
    cursor: pointer;
}

.search button {
    padding: 3px;
    border-radius: 15px;
    background-color: transparent;
    height: 25%;
    padding-left: 29px;
    padding-right: 30px;
    display: flex;
}

#labelCategoria {
    padding-top: 10px;
}

.fav {
    display: flex;
}

@media(max-width:480px) {
    #iconMap {
        margin-right: 7px;
        margin-left: 7px;
    }
    .search button {
        padding: 5px;
        border-radius: 10px;
        padding-left: 2px;
        padding-right: 3px;
    }
    .search input {
        padding: 0px!important;
        border-radius: 8px;
        margin-right: 18px;
        width: 65%;
    }
    .imageCat {
        height: 30px!important;
        width: auto
    }
    .textCat {
        font-size: 10px!important;
    }
    .categoria {
        padding: 15px;
    }
    #details {
        display: none;
    }
    #divCards {
        margin-left: 25px;
    }
    #row {
        margin-left: 1px;
    }
    .card {
        margin: 15px!important;
        width: 83%;
    }
    #lugar {
        display: none;
    }
}