<img src="../../../../assets/banner.png" id="banner" alt="">
<div id="empresaDiv">
    <img src="../../../../assets/icon/icono.png" id="logo" alt="">
    <div id="empresa">
        <div>
            <h5 id="nombre">Pizza Hut</h5>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <p>2774 -2814</p>
        </div>
        <div class="fav">
            <p id="fav">Favoritos</p>
            <i class="fas fa-heart" id="corazon"></i>
        </div>
    </div>
</div>