<nav class="navbar navbar-light bg-light shadow-sm p-3 bg-body rounded" style="">


    <div class="container-fluid">
      <div style="display: flex;">
        <app-sidevar></app-sidevar>

            <img src="../../../../assets/PideLow.png" id="logo" class="img-nav mt-0 mb-3" width="124" height="22px">

            <h5 class="subtitle mb-3" routerLink="" id="inicio">Inicio</h5>
        </div>
        <div style="display: flex;" routerLink="">
            <div style="display: flex;padding: 16px; padding-top: 0px;">
                <div style="display: flex;" class="canast">
                    <img src="../../../../../assets/img/camionIcon.png" alt="" style="">
                    <h6 style="padding-top: 5px;">2</h6>
                </div>
                <div style="display: flex;" class="canast">
                    <img src="../../../../../assets/img/canastaIcon.png" alt="" style="">
                    <h6 style="padding-top: 5px;">2</h6>
                </div>
            </div>
            <img src="../../../../../assets/img/porfile.png" class="img-nav mt-0 mb-3 porfile" width="50px">
            <h5 class="mt-0 mb-3 porfile" id="name" style="    padding-top: 5px;
            padding-left: 5px; font-weight: bold;">Daniela Zavala</h5>
        </div>
    </div>



    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin-left: auto;font-size: larger">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/']">Nav 1 </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['']">Nav 2 </a>
            </li>
        </ul>

    </div>
</nav>
