.navbar-light {
    height: 70px;
    box-shadow: grey;
    text-align: start;
}

.subtitle {
    margin-top: 6px;
    margin-left: 5px;
}

.container-fluid {
    justify-content: space-between;
}

.canast {
    display: flex;
    padding: 5px;
    border: 2px solid;
    border-radius: 9px;
    margin-left: 10px;
}

@media(max-width:480px) {
    #name {
        display: none;
    }
    #logo {
        display: none;
    }
    #inicio {
        display: none;
    }
}