
<footer class="footer">
  <div class="container-fluid" style="margin-left: 0px; margin-right: 0px;">
      <div class="row">
          <div class="col-xl-2 col-sm-12">
              <ul style="list-style: none" class="ullist">
                  <li style="font-weight: bold;">
                      Legal
                  </li>
                  <li>
                      Cookies Policy
                  </li>
                  <li>
                      Privacy Policy
                  </li>
                  <li>
                      Terms of Service
                  </li>
                  <li>
                      Law Enforcement
                  </li>
              </ul>
          </div>

          <div class="col-xl-2 col-sm-12">
              <ul style="list-style: none" class="ullist">
                  <li style=" font-weight: bold; ">
                      Company
                  </li>
                  <li>
                      About Us
                  </li>
                  <li>
                      Blog
                  </li>
                  <li>
                      Careers
                  </li>
                  <li>
                      Contact Us
                  </li>
              </ul>
          </div>
          <div class="col-xl-2 col-sm-12 ">
              <ul style="list-style: none " class="ullist">
                  <li style="font-weight: bold;">
                      Support
                  </li>
                  <li>
                      Help Center
                  </li>
                  <li>
                      Safety Center
                  </li>
                  <li>
                      Community Guidelines
                  </li>
              </ul>
          </div>
          <div class="col-xl-4 col-sm-12" style="text-align: center; padding-top: 3%;">
              <h6>© 2020 Landify UI Kit. All rights reserved</h6>
              <img src="../../../../assets/Cliente-landing/Social Links.png" alt="">
          </div>
          <div class="col-xl-2 col-sm-12" style="text-align: center; padding-top: 3%;">
              <div class="row">
                  <div class="col-6">Install App</div>
                  <div class="col-6">
                      <div class="row">
                          <img class="col-xl-12 col-sm-6" src="../../../../assets/Cliente-landing/appstore.png" alt="" style="padding-bottom: 10px;">
                          <img class="col-xl-12 col-sm-6" src="../../../../assets/Cliente-landing/Google Play Badge.png" alt="">
                      </div>
                  </div>

              </div>
          </div>

      </div>

  </div>


</footer>
