<div class="container-fluid">
    <div class="as">
        <div class="col-12 container-banner p-0">
            <img class="img-banner" src="{{company.bannerUrl}}" alt="" srcset="">

        </div>
        <div class="row container-info">
            <div class="container-infor-company d-flex ">
                <div class="container-logo">
                    <div class="ms-4">

                        <img src="{{company.imgUrl}}" width="125" height="126" alt="">
                    </div>
                </div>
                <div class="ms-4 info-company ">
                    <p class="title-company">{{company.name}}</p>
                    <div class="container-start d-flex">
                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                        <fa-icon [icon]="['far', 'star']"></fa-icon>
                    </div>
                    <div class="phone">
                        <p>{{company.phone}}</p>
                    </div>
                </div>

                <div class="d-flex container-folow  mt-5">
                    <p class="flow">Favoritos </p>
                    <fa-icon class="icon" [icon]="['fas', 'heart']"></fa-icon>
                </div>

            </div>
            <div class="col-lg-2 mt-5">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="panel-title">
                            Categorias disponibles
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p class="cat" *ngFor="let cat of categories" (click)="getById(cat.id)">{{cat.name}} </p>
                </mat-expansion-panel>
            </div>
            <div class="col-lg-10 col-sm-12 mt-5">
                <div class="container-input-search">
                    <input class="form-control search-input" type="text" placeholder="Buscar producto">
                </div>
                <div class="row mt-5 mb-5" *ngFor="let product of products">
                    <!-- <div class="col-lg-12 col-sm-12"> -->
                    <h3>{{product._id}}</h3>
                    <div class="col-lg-6 col-sm-12" type="button" *ngFor="let producto of product.productos" (click)="DetailProduct(modalDetailProduct)">
                        <div class="container-product d-flex shadow b-11 p-3">
                            <div class="container-info-product">
                                <p class="product-title">{{producto.name}}</p>
                                <p class="description-product">{{producto.describe}}</p>
                                <p class="description-product">L. {{producto.price}}</p>
                            </div>
                            <div class="container-img-product">
                                <img class="img-product" src="{{producto.imgUrl}}" width="150" height="150" alt="">
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<!-- Modal de detalle de producto-->
<ng-template #modalDetailProduct let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Pizza 4 Quesos</h4>
        <button type="button" class="close" (click)="modal.close('Close click')">
          <img src="../../../../assets/icon/equis.png" alt="" style="height: 19px;">
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xl-6 col-sm-12">
                <div>
                    Pizza 4 quesos con orilla crujiente...
                </div>
                <h5 class="price">L.400</h5>
                <div style="display: flex;">
                    <b>Cantidad </b>
                    <input type="number" class="number">
                </div>
            </div>

            <div class="col-xl-6 col-sm-12">
                <img class="img-product prod modalImg" src="https://www.saborusa.com/wp-content/uploads/2019/10/Animate-a-disfrutar-una-deliciosa-pizza-de-salchicha-Foto-destacada.png" width="150" height="150" alt="">

            </div>
        </div>
        <div>
            <br>
            <br>
            <h5>Complementos</h5>
            <div style="padding-left: 10px;">
                <div class="comple">
                    <div>
                        <p style="margin-bottom: 0;">Pan de ajo</p>
                        <p>(+ L.90.00)</p>
                    </div>
                    <input type="number" class="inpCant">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btnCarrito" data-dismiss="modal">Agregar al carrito</button>
        <h5>Precio Total: L.400.00</h5>

    </div>
</ng-template>