<div class="container animate__animated  animate__fadeIn">
    <div class="row">
        <div class="col-12">
            <p class="title-page">Seleccione una categoria </p>
        </div>
        <div class="col-12 mt-3 container-info">
            <div class="col-12">
                <div class="row">
                    <fa-icon [icon]="['far', 'arrow-alt-circle-left']" class="arrow" (click)="getCategories('left')" *ngIf="offset>0"></fa-icon>
                    <div class="col-lg-3 mt-3 container-card " *ngFor="let category of categories">
                        <div class="container-categorie shadow-sm">
                            <img src="{{category.imgUrl}}" class="img-categorie" alt="" srcset="">
                            <div class="title-categorie">
                                <p>{{category.name}}</p>
                            </div>
                        </div>
                    </div>
                    <fa-icon [icon]="['far', 'arrow-alt-circle-right']" class="arrow left" (click)="getCategories('rigth') " *ngIf="limit<cant"></fa-icon>
                </div>
            </div>

        </div>
        <div class="container-btn mb-5">
            <button class="btn-s my-2 my-sm-0 btn-basic-white" mat-raised-button [routerLink]="['../location']">Regresar</button>
            <button class="btn-s my-2 my-sm-0 btn-basic" mat-raised-button [routerLink]="['../../store']">Continuar</button>
        </div>
    </div>
</div>